@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&family=Tangerine:wght@700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8.5rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: rgb(248, 223, 194);
}

html::-webkit-scrollbar-thumb {
  background: #bcf0a4;
  border-radius: 5rem;
}

section {
  padding: 2rem 9%;
}
.heading {
  text-align: center;
  padding-bottom: 2rem;
}

.heading span {
  font-family: "Satisfy", cursive;
  font-size: 3rem;
  color: #27ae60;
}

.heading h3 {
  font-size: 3rem;
  color: #130f40;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;

  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  display: flex;

  align-items: center;
  justify-content: space-between;
  padding: 1rem 9%;
}

.header .logo {
  color: #d82a0c;
  animation: shake 5s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

#menu-btn {
  display: none;
}

.header .navbar a {
  font-size: 1.9rem;
  font-weight: 900;
  margin: 0 1rem;
  color: #127c17;
}

.header .navbar a:hover {
  color: #05441f;
}

.header .icons div {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;

  font-size: 2rem;
  background: transparent;
  color: #040311;
  border-radius: 0.5rem;
  margin-left: 0.3rem;
  cursor: pointer;
  text-align: center;
}

.header .icons div:hover {
  color: #fff;
  background: #24b62b;
}

.search-form-container {
  position: fixed;
  top: 8.5rem;
  left: 0;
  right: 0;
  height: calc(100vh - 8.5rem);
  background: #fff;
  z-index: 1000;
  display: none;
}

.search-form-container.active {
  display: block;
}

.search-form-container form {
  height: 7rem;
  border-bottom: 3px solid #130f40;
  border-radius: 2rem;
  padding: 0 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: fadeUp 0.4s linear;
  animation: fadeUp 0.4s linear;
}

.search-form-container form input {
  height: 100%;
  width: 100%;
  font-size: 1.7rem;
  color: #130f40;
  text-transform: none;
  padding-right: 1rem;
}

.search-form-container form input:focus ::placeholder {
  visibility: hidden;
}

.search-form-container form label {
  font-size: 3rem;
  cursor: pointer;
  color: #130f40;
}

.search-form-container form label:hover {
  color: #24b62b;
}

@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(5rem);
    transform: translateY(5rem);
    opacity: 0;
  }
}

@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(5rem);
    transform: translateY(5rem);
    opacity: 0;
  }
}

.shopping-cart-container {
  position: fixed;
  top: 8.5rem;
  left: 0;
  right: 0;
  z-index: 1000;
  height: calc(100vh - 8.5rem);
  background: #fff;
  overflow-y: scroll;
  padding-bottom: 8rem;
  display: none;
}

.shopping-cart-container.active {
  display: block;
}

.shopping-cart-container::-webkit-scrollbar {
  width: 1rem;
}

.shopping-cart-container::-webkit-scrollbar-track {
  background: #fff;
}

.shopping-cart-container::-webkit-scrollbar-thumb {
  background: #ade991;
  border-radius: 5rem;
}

.shopping-cart-container .title {
  font-size: 2.5rem;
  padding: 1rem;
  color: #130f40;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #bcf0a4;
  border-radius: 1rem 1rem 0 0;
}

.shopping-cart-container .products-container {
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  -webkit-animation: fadeUp 0.4s linear;
  animation: fadeUp 0.4s linear;
}

.shopping-cart-container .products-container .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
  padding: 1.5rem;
}

.shopping-cart-container .products-container .box-container .box {
  background-color: rgba(238, 206, 206, 0.144);
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  position: relative;
}

.shopping-cart-container .products-container .box-container .box .fa-times {
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: #130f40;
}

.shopping-cart-container
  .products-container
  .box-container
  .box
  .fa-times:hover {
  color: #24b62b;
}

.shopping-cart-container .products-container .box-container .box img {
  height: 8rem;
}

.shopping-cart-container .products-container .box-container .box .content h3 {
  font-size: 2rem;
  color: #130f40;
}

.shopping-cart-container .products-container .box-container .box .content span {
  font-size: 1.5rem;
  color: #666;
}

.shopping-cart-container
  .products-container
  .box-container
  .box
  .content
  span.price {
  color: #24b62b;
  font-size: 1.7rem;
}

.shopping-cart-container
  .products-container
  .box-container
  .box
  .content
  input {
  width: 8rem;
  padding: 0.5rem 1.2rem;
  font-size: 1.5rem;
  color: #130f40;
  background-color: rgba(238, 206, 206, 0.144);
  border-radius: 1rem;
  box-shadow: inset 2px 2px 15px rgba(238, 206, 206, 0.144);
  margin: 0.7rem 0;
}

.shopping-cart-container .cart-total {
  margin-top: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  -webkit-animation: fadeUp 0.4s linear 0.4s backwards;
  animation: fadeUp 0.4s linear 0.4s backwards;
}

.shopping-cart-container .cart-total .box {
  padding: 1.5rem;
}

.shopping-cart-container .cart-total .box h3 {
  color: #130f40;
  font-size: 2rem;
  padding-bottom: 0.7rem;
}

.shopping-cart-container .cart-total .box h3 span {
  color: #24b62b;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 1.9rem;
  font-size: 1.7rem;
  font-weight: 800;
  cursor: pointer;
  color: #fff;
  background: #b42444;
  border-radius: 2rem;
  transition: 0.3s ease;
}

.btn:hover {
  background: crimson;
}

.login-form-container {
  position: fixed;
  top: 9rem;
  left: 0;
  right: 0;
  z-index: 1000;
  height: calc(100vh - 8.5rem);
  background: #fff;
  padding: 0 2rem;
  display: none;
  animation: fadeUp 0.4s linear;
}

.login-form-container.active {
  display: block;
}

.main {
  width: 350px;
  margin: auto;
  height: 500px;
  overflow: hidden;
  background-image: linear-gradient(
    to right,
    #cbe9e4,
    #caecdd,
    #cfeed1,
    #dceec4,
    #eeecb8
  );

  border-radius: 10px;
  box-shadow: 2px 2px 15px #ecd9d9;
}
#chk {
  display: none;
}

.signup {
  position: relative;
  width: 100%;
  height: 100%;
}

label {
  color: #130f40;
  font-size: 3.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: 900;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.signup input,
.login input {
  width: 60%;
  background: rgba(230, 217, 217, 0.568);
  justify-content: center;
  display: flex;
  margin: 15px auto;
  padding: 1rem 3rem;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 1.3rem;
}
.sign-up {
  width: 40%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #24b62b;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.sign-up:hover {
  background: #166e3b;
}
.login {
  height: 460px;
  background-image: linear-gradient(
    to right,
    #cbe9e4,
    #caecdd,
    #cfeed1,
    #dceec4,
    #eeecb8
  );
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
.login label {
  color: #130f40;
  transform: scale(0.6);
}

#chk:checked ~ .login {
  transform: translateY(-500px);
}
#chk:checked ~ .login label {
  transform: scale(1);
}
#chk:checked ~ .signup label {
  transform: scale(0.6);
}

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 3rem;
  position: relative;
  overflow: hidden;
}

.home .content {
  flex: 1 30rem;
}

.home .content span {
  font-size: 2rem;
  color: #24b62b;
}

.home .content h3 {
  font-size: 4rem;
  color: #130f40;
  padding-top: 1rem;
}

.home .content p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2;
  padding: 1rem 0;
}

.home .image {
  flex: 1 1 41rem;
  margin: 1rem 0;
  pointer-events: none;
  /* z-index: 1000; */
}

.home .image .home-img {
  /* width: 100%; */
  margin-top: 4rem;
  animation: rotate 10s infinite linear;
  height: 45rem;
}

.category {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 1.5rem;
  padding-bottom: 5rem;
}

.category .box {
  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
  background: #f7f7f7;
  animation: beat 0.25s infinite alternate;
  transform-origin: center;
}

@keyframes beat {
  to {
    transform: scale(0.9);
  }
}

.category .box:hover {
  background: #24b62b;
}

.category .box:hover h3 {
  color: #fff;
}

.category .box img {
  height: 9rem;
}

.category .box h3 {
  font-size: 1.8rem;
  color: #130f40;
}

.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  background: #f7f7f7;
}

.about .image {
  flex: 1 1 40rem;
}
.about .image img {
  width: 90%;
  animation: rotate 10s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
}

.about .content {
  flex: 1 1 40rem;
}

.about .content span {
  font-family: "Satisfy", cursive;
  font-size: 3rem;
  color: #166e3b;
}
.about .content .title {
  font-size: 3rem;
  padding-top: 0.5rem;
  color: #130f40;
}

.about .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  line-height: 2;
  color: #666;
}

.about .content .icons-container {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.about .content .icons-container .icons {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  flex: 1 1 20rem;
  border-radius: 1rem;
  background: #fff;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
}

.about .content .icons-container .icons h3 {
  font-size: 1.7rem;
  color: #130f40;
}

.about .content .icons-container .icons:hover h3 {
  transform: translateX(5px);
  transition: 0.5s ease;
}

.about .content .icons-container .icons:hover img {
  transform: translateY(-2px);
  transition: 0.5s ease;
}
/* POPULAR======>>>>>> */

.popular .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.popular .box-container .box {
  border-radius: 1rem;
  position: relative;
  background: #f7f6f6de;
  padding: 2rem;
  text-align: center;
}

.popular .box-container .box .fa-heart {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2rem;
  color: #666;
  cursor: pointer;
}

.popular .box-container .box .fa-heart:hover {
  color: red;
}

.popular .box-container .box .image {
  margin: 1rem 0;
  animation: rotate 10s infinite linear;
}

.popular .box-container .box .shake {
  /* margin: 1rem 0; */
  animation: shake 5s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.popular .box-container .image img {
  height: 15rem;
}
.popular .box-container .image img:hover {
  transform: scale(1.2);
}

.popular .box-container .box .content h3 {
  font-size: 2rem;
  color: #130f40;
}

.popular .box-container .box .content .stars {
  padding: 1rem 0;
  font-size: 1.7rem;
}

.popular .box-container .box .content .stars i {
  color: gold;
}

.popular .box-container .box .content .stars span {
  color: rgb(24, 22, 22);
  font-weight: 900;
}

.popular .box-container .box .content .price {
  font-size: 2rem;
  color: #130f40;
}

.popular .box-container .box .content .price span {
  font-size: 1.5rem;
  color: #666;
  text-decoration: line-through;
}

.banner .row-banner {
  background: url(/image/row-banner.png) no-repeat;
  height: 45rem;
  background-size: cover;
  background-position: center;
  position: relative;
}
.banner .row-banner h3 {
  font-size: 3rem;
  color: #27ae60;
  text-align: center;
  font-family: "Satisfy", cursive;
}
.banner .row-banner .content {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
}

.banner .row-banner .content span {
  font-family: "Satisfy", cursive;
  font-size: 4rem;
  color: #27ae60;
}
.banner .row-banner .content h3 {
  font-size: 6rem;
  color: red;
  text-transform: uppercase;
}
.banner .row-banner .content p {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.banner .grid-banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.banner .grid-banner .grid {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  height: 45rem;
}
.banner .grid-banner .grid:hover img {
  transform: scale(1.1);
}

.banner .grid-banner .grid img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner .grid-banner .grid .content {
  position: absolute;
  top: 2rem;
  padding: 0 2rem;
}

.banner .grid-banner .grid .content.center span {
  color: #666;
}

.banner .grid-banner .grid .content.center h3 {
  color: #130f40;
}

.banner .grid-banner .grid .content span {
  font-size: 2.5rem;
  color: #fff;
}

.banner .grid-banner .grid .content h3 {
  font-size: 3rem;
  color: #fff;
  padding-top: 0.5rem;
}

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.menu .box-container .box {
  border-radius: 1rem;
  background: #f7f7f7;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.menu .box-container .box:hover {
  background: #69e06f;
}

.menu .box-container .box:hover .content h3 {
  color: #fff;
}

.menu .box-container .box img {
  height: 10rem;
}
.menu .box-container .box:hover img {
  padding-right: 7px;
  transform: scale(1.1);
}

.menu .box-container .box .content h3 {
  font-size: 2rem;
  color: #130f40;
  padding-bottom: 0.5rem;
}

.menu .box-container .box .content .price {
  font-size: 1.8rem;
  color: #27ae60;
}

.menu .box-container .box:hover .content .price {
  color: #cbe9e4;
}

.order .icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.order .icons-container .icons {
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  background: #f7f7f7;
}

.order .icons-container .icons img {
  height: 10rem;
}

.order .icons-container .icons:hover img {
  transform: translateY(-7px);
}

.order .icons-container .icons h3 {
  font-size: 2rem;
  color: #130f40;
  margin-top: 0.5rem;
}

.order form {
  background: #f7f7f7;
  padding: 2rem;
  border-radius: 1rem;
}
.order form .flex {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-between;
}

.order form .flex .inputBox {
  width: 49%;
  padding: 0.7rem 0;
}
.order form .flex .inputBox span {
  font-size: 1.4rem;
  color: #05441f;
  text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.order form .flex .inputBox span .bx {
  font-size: 2rem;
}

.order form .flex input,
.order form .flex textarea {
  margin-top: 0.5rem;
  padding: 1rem 1.2rem;
  width: 100%;
  border-radius: 4rem;
  border: 1.5px solid #7aaf90;
  outline: none;
  appearance: none;
  background: rgba(221, 245, 208, 0.5);
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #130f40;
  font-family: Josefin Slab;
}
.order form .flex textarea {
  border-radius: 1rem;
  resize: none;
  height: 20rem;
}

.order form .flex input::placeholder,
.order form .flex textarea::placeholder {
  opacity: 0.3;
}

.order form .flex .map {
  height: 20rem;
  margin-top: 0.5rem;
  width: 100%;
  border-radius: 1rem;
}

.footer {
  background: #f7f7f7;
}

.footer .newsletter {
  text-align: center;
  margin-bottom: 2rem;
}

.footer .newsletter h3 {
  font-size: 2.5rem;
  color: #130f40;
  padding-bottom: 1rem;
}

.footer .newsletter form {
  max-width: 75rem;
  margin: 1rem auto;
  display: flex;
  border-radius: 3rem;
  overflow: hidden;
}

.footer .newsletter form input[type="email"] {
  width: 100%;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  background-color: rgba(221, 245, 208, 0.5);
  color: #130f40;
  text-transform: capitalize;
}

.footer .newsletter form input[type="submit"] {
  padding: 0 2rem;
  font-size: 1.6rem;
  color: #fff;
  background: #24b62b;
  cursor: pointer;
  font-weight: 900;
}

.footer .newsletter form input[type="submit"]:hover {
  background: crimson;
}

.footer .box-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #130f40;
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
}

.footer .box-container .box a:hover {
  color: #24b62b;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: #24b62b;
}

.footer .bottom {
  padding-top: 1rem;
  text-align: center;
}

.footer .bottom .share {
  margin: 1.5rem 0;
}

.footer .bottom .share a {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  margin: 0 0.3rem;
  color: #fff;
  background: #24b62b;
}

.footer .bottom .share a:hover {
  background: crimson;
}

.footer .bottom .credit {
  font-size: 1.5rem;
  color: #666;
  padding-top: 1rem;
}
.footer .bottom .credit .fa-heart {
  color: crimson;
}
.footer .bottom .credit span {
  color: yellowgreen;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header .navbar.active a {
    color: #24b62b;
  }
  .header .navbar.active a:hover {
    color: #127c17;
  }

  .header .navbar a {
    font-size: 2rem;
    margin: 2rem;
    display: block;
  }
  .header .logo img {
    width: 250px;
  }
  .order form .flex .inputBox {
    width: 100%;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 50%;
  }
  .shopping-cart-container .cart-total .box {
    text-align: center;
  }
  .shopping-cart-container .cart-total .box .btn {
    width: 100%;
  }
  .home .content h3 {
    font-size: 3rem;
  }
  .home .content p {
    font-size: 1.5rem;
  }
  .header .logo img {
    width: 180px;
  }
  .home-img {
    height: 32rem;
  }
}
@media (max-width: 400px) {
  .header .logo img {
    width: 150px;
  }
  .home-img {
    /* padding-left:-3rem; */
    height: 10rem;
  }
  .login-form-container {
    width: 100%;
    margin-top: -1rem;
  }
  .login-form-container .main {
    margin-top: 5rem;
    width: 280px;
  }
}
@media (max-width: 380px) {
  .header .logo img {
    width: 150px;
  }
}

@media (max-width: 339px) {
  .header .icons .fas {
    font-size: 15px;
  }
  .header .logo img {
    width: 120px;
  }
}
